.jumbotron img{
  width: 250px;
  border: 3px solid #666;
}

.jumbotron ul li{
  display: inline-block;
}

.jumbotron ul li a{
    color: #666;
    font-size: 20px;
    text-decoration: none;
}
.jumbotron h1{
    font-family: 'Limelight', cursive;
}

.about{
    min-height: 300px;
}
hr{
    width: 250px;
    border-top: 3px solid #999;
}

.row{
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 25px;
}

.row img{
    width: 400px;
    height: 200px;
}
.portfolio{
    background-color: #eee;
}